/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}


/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.group-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.group-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}



/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

  .img-about {
    width: 42%;
    padding: 3%;
  }

  .ideas-desktop {
    width: 48%;
    align-items: center;
  }
  
  .group-desktop-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .group-desktop-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .group-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    margin-bottom: -10px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
    align-self: center;
    width: 90%;
  }
  
  .item-double {
    flex: 2;
  }

  .item-form {
    align-self: center;
    justify-self: center;
    size: 100%;
  }
  
  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 26px;
    padding: 5px;
    width: 110px;
    height: 50px;
  }

  form {
    border: 2px solid #ff385c;
    padding: 5px;
  }
}
